* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.btn {
    margin-right: 16px;
    padding: 8px 24px;
    border: 0;
    outline: none;
    background-color: rgb(88, 138, 224);
    font-family: 'poppins';
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    font-weight: 700;
    border-radius: 8px;

    &:hover,
    &:focus,
    &:active {
        background-color: rgb(68 110 181);
    }
}

a {
    color: unset;
    text-decoration: none;
}

.first-letter {
    &::first-letter {
        text-transform: uppercase;
    }
}